html {
	background: url("http://2.bp.blogspot.com/_IQY5v1LXSr8/SaJ2gIS188I/AAAAAAAAAEE/fNHhrdNjgTc/s400/gursky-rhein-1996.jpg") no-repeat center center fixed;
	background-size: cover;
}
body {
	color: #fff;

}

.nav {
	background: #dcdcdc;
	color: #fff;
	opacity: 0.88;
	width: 420px;
	padding: 15px;
	margin-left: 24px;
	margin-bottom: 34px;
	margin-top: 12px;
	border-radius: 5px;
	text-align:center;

}


.nav a {
	text-decoration: none;
	margin: 14px;
	font-family: Verdana;
	margin: center;
	color: #4f9c2a;
}

a:hover {
	color: #34cb64;
}


#container {
	background: #dcdcdc;
	opacity: 0.88;
	width: 420px;
	height: 264px;
	padding: 15px;
	margin-left: 24px;
	border-radius: 5px;
}
h1, h4 {
	color: #4f9c2a;
	opacity: .64;
	font-family: Verdana;

}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

 
#photo {
	float: left;
	width: 106px;
	opacity: 0.75;
} 

#writing {
	float: right;
	width: 300px;
	font-family: Verdana;
}

#writing p {
	margin: 0px;
	color: #4f9c2a;
	text-align: justify;
	padding-right: 5px;
}

#footer {
	background: #dcdcdc;
	opacity: 0.88;
	width: 420px;
	height: 24px;
	padding: 15px;
	margin-left: 24px;
	margin-top: 24px;
	border-radius: 5px;
}
 
#footer p {
	color: #4f9c2a;
	opacity: .64;
	font-family: Verdana;
	font-size: 12px;
	text-align: center;


} 



